Source: azpazeta
Section: games
Priority: optional
Maintainer: Adrian Arroyo Calle (Divel) <adrian.arroyocalle@gmail.com>
Build-Depends: debhelper (>= 7), libstdc++6(>= 4.1), libgtk-3-dev, libgdk-pixbuf2.0-0, libcairo2, libcairomm-1.0-1, libpango1.0-0, libpangomm-1.4-1, libx11-6, libsm6, libpango1.0-dev, libgtk2.0-dev, libwxbase2.8-0, libwxbase2.8-dev, libwxgtk2.8-0, libwxgtk2.8-dev, wx2.8-headers, cmake
Standards-Version: 3.9.2
Homepage: http://sites.google.com/site/divelmedia


Architecture: any
Depends:${shlibs:Depends}
Version: 2.0.0.0
Description: Azpazeta
 The strategy-economics game.
Package: azpazeta
