#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	cmake . -DCMAKE_INSTALL_PREFIX=${CURDIR}/debian/azpazeta
	#mkdir -p ${CURDIR}/debian/azpazeta
	#cp -rv build/* ${CURDIR}/debian/azpazeta/
	#dh_auto_configure
override_dh_auto_build:
	make
override_dh_auto_install:
	make install
